doctype html
html(lang="ja")
	head
		meta(charset='UTF-8' name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		title Mapbox sample
		script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js', charset='UTF-8')
		script(src='lib/js/jquery.min.js', charset='UTF-8')
		script(src='js/map.js', charset='UTF-8')
		link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css', rel='stylesheet')
		link(href='css/map.css', rel='stylesheet')
	body
		#wrap
			header
				h1 Map
			#inner
				#mainWrap
					#map

